<h2>Lista de productos</h2>

<form (ngSubmit)="createProducto()">
    <label for="title">Título:</label>
    <input id="title" [(ngModel)]="newProducto.title" name="title" required />

    <label for="price">Precio:</label>
    <input id="price" type="number" [(ngModel)]="newProducto.price" name="price" required />

    <label for="description">Descripción:</label>
    <textarea id="description" [(ngModel)]="newProducto.description" name="description" required></textarea>

    <label for="categoryId">Categoría ID:</label>
    <input id="categoryId" type="number" [(ngModel)]="newProducto.categoryId" name="categoryId" required />

    <label>Imágenes:</label>
    <div *ngFor="let image of newProducto.images; let i = index">
        <input type="text" [(ngModel)]="newProducto.images[i]" name="image{{i}}" placeholder="URL de la imagen"
            required />
        <button type="button" (click)="removeImage(i)">Eliminar</button>
    </div>
    <button type="button" (click)="addImage()">Agregar otra imagen</button>

    <button type="submit">Crear Producto</button>
</form>

<ul>
    <li *ngFor="let producto of productos">
        {{ producto.title }} - ${{ producto.price }}
        <button (click)="deleteProducto(producto.id)">Delete</button>
    </li>
</ul>